@media(min-width: 768px) and (max-width: 1200px){
	#global{
		width :100%;
		padding :0px;
	}
	#menu-gauche{
		width :100%;           
	}
	#contenu{
		width :100% ;
		background: blue;
	}
}
@media(max-width: 767px){ 
	#global{
		width :100%;
		padding :0px ;
	}
	#menu-gauche{
		width :100% ;
	}
	#contenu{
		width :100%;
		background: red;
	}
	#sidebar-droite{
		width :100%;
	}
}	
body{
	overflow-x:hidden;
	max-width: 100%;
	margin: 0;
	background-image: url("assets/fond.jpg");
}
header{
	background-image: url("assets/Acceuil.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 250px;
}
.logo{
	max-width: 150px;
	position: absolute;
	left: 40px;
	top: 40px;
}
.t2{
	text-align:center;
}
.t2 .onglets .li1{
	display:inline-block;
	padding:10px 62px;/*régler les taille des onglets*/
	font-size:20px;
}
.li1{
	border-color:solid #000000;
	border-style:solid;
	border-width:2px;
	border-right:1px;
}
#li4{
	border-color:solid #000000;
	border-style:solid;
	border-width:2px;
}
.li2,.li3{
	display:inline-block;
}
.fr{
	height: 20px;
	width: 30px;
	position: absolute;
	left: 1385px;
	top: 50px;
}
.en{
	height: 20px;
	width: 30px;
	position: absolute;
	left: 1430px;
	top: 50px;
}
a li{
	color:black;
}
.aimg{
	background-color:grey;
	margin:20px auto;
	width:1050px;
}
.acimg{
	max-height:350px;
	padding:0 0px;
}
.titlt{
	margin-left:20px;
	margin-bottom:10px;
	text-decoration:underline;
	font-size:1.8em;
}
.sct{
	justify-content:space-between;
	align-items:center;
	display:inline-flex;
}
.bloctxt{
	font-size:0.8em;
	padding:20px 0;
}
.aimg{
	background-color:grey;
	margin:20px auto;
	width:1060px;
}
.acimg{
	height:353px;
	width:530px;
}
.titlt{
	margin-left:20px;
	margin-bottom:10px;
	text-decoration:underline;
	font-size:2em;
	color:gold;
}
.sct{
	justify-content:space-between;
	align-items:center;
	display:flex;
}
.bloctxt{
	font-size: 1em;
	width: 480px;
	height: 170px;
	color:white;
	padding:15px;
	display:grid;
}
.cadr{
	padding:12px;
	background-color:black;
	width:506px;
	height:326px;
}
footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	font-weight: 600;
	border-style:solid;
	border-width:1px;
	width: 1305px;
}
.jk{
	font-size:200px;
}
.tr{
	color:white;
}
.fdiv{
	background-color:darkgrey;
}
.fdiv1{
	padding:85px 100px;
	border-style:solid;
	border-width:0 1px 0 0;
}
.fdiv3{
	border-style:solid;
	border-width:0 0 0 1px;
	padding:53.25px 100px;
}
.reseau{
	max-height:40px;
	margin:10px 10px;
}
.icon{
	max-height:20px;
}
.loc{
	max-height:20px;
	padding-left:4.90px;
}
footer a.cgv {
	text-decoration: none;
	color: black;
}
.centre{
	text-align:center;
	margin:0;
}
.copyright{
	text-align:center;
	margin-bottom:-20px;
}
.onglets {
	padding: 0px;
}
.loca{
    text-decoration:none;
    color:black;
}
.mail{
	text-decoration: none;
	color: black;
}
/*-------------------------------button-----------------------------------------*/
.portfolio-experiment, .scene {
  height: 12vh;
  width: 30vh;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-display: flex;
  -webkit-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}

.portfolio-experiment {
  background: #2d2d2d;
}
.portfolio-experiment a {
  color: white;
  padding: 0.7em calc(0.7em * 1.2);
  display: inline-block;
  border: 3px solid transparent;
  position: relative;
  font-size: 1.2em;
  cursor: pointer;
  letter-spacing: 0.07em;
}
.portfolio-experiment a .text {
  font-family: proxima-nova, monospace;
  transform: translate3d(0, 0.7em, 0);
  display: block;
  transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.portfolio-experiment a:after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: calc(0.7em * 1.2);
  right: calc(0.7em * 1.2);
  height: 3px;
  background: #f26522;
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
  transform-origin: left;
}
.portfolio-experiment .line {
  position: absolute;
  background: #f26522;
}
.portfolio-experiment .line.-right, .portfolio-experiment .line.-left {
  width: 3px;
  bottom: -3px;
  top: -3px;
  transform: scale3d(1, 0, 1);
}
.portfolio-experiment .line.-top, .portfolio-experiment .line.-bottom {
  height: 3px;
  left: -3px;
  right: -3px;
  transform: scale3d(0, 1, 1);
}
.portfolio-experiment .line.-right {
  right: -3px;
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
  transform-origin: top;
}
.portfolio-experiment .line.-top {
  top: -3px;
  transition: transform 0.08s linear 0.43s;
  transform-origin: left;
}
.portfolio-experiment .line.-left {
  left: -3px;
  transition: transform 0.08s linear 0.51s;
  transform-origin: bottom;
}
.portfolio-experiment .line.-bottom {
  bottom: -4px;
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transform-origin: right;
}
.portfolio-experiment a:hover .text,
.portfolio-experiment a:active .text {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.portfolio-experiment a:hover:after,
.portfolio-experiment a:active:after {
  transform: scale3d(0, 1, 1);
  right: -3px;
  left: -3px;
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}
.portfolio-experiment a:hover .line,
.portfolio-experiment a:active .line {
  transform: scale3d(1, 1, 1);
}
.portfolio-experiment a:hover .line.-right,
.portfolio-experiment a:active .line.-right {
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
  transform-origin: bottom;
}
.portfolio-experiment a:hover .line.-top,
.portfolio-experiment a:active .line.-top {
  transition: transform 0.08s linear 0.4s;
  transform-origin: right;
}
.portfolio-experiment a:hover .line.-left,
.portfolio-experiment a:active .line.-left {
  transition: transform 0.08s linear 0.48s;
  transform-origin: top;
}
.portfolio-experiment a:hover .line.-bottom,
.portfolio-experiment a:active .line.-bottom {
  transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  transform-origin: left;
}